
<!-- extend from base layout -->

{% extends "layout/base.html" %}

{% block content %}
  <div class="form-horizontal">
    <form action="" method="post" name="edit">
          {{form.hidden_tag() }}
      <p>
           {% for error in form.errors %}
                   <span style="color: red;">[{{ error }}] </span>
                {%  endfor%} <br>
       </p>
<div class="row-fluid">
        <div class="span6">  
                 <div class="control-group">
                       <label class="control-label" for="form-field-1">Nome</label>
                      <div class="controls">
                     {{form.nome }}
                      </div>
                 </div>


                 <div class="control-group">
                       <label class="control-label" for="form-field-1">Sobrenome</label>
                      <div class="controls">
                     {{ form.sobrenome }}
                      </div>
                 </div>

                 <div class="control-group">
                       <label class="control-label" for="form-field-1">E-mail</label>
                      <div class="controls">
                     {{ form.email }}
                      </div>
                 </div>

                 <div class="control-group">
                       <label class="control-label" for="form-field-1">Telefone Fixo</label>
                      <div class="controls">
                     {{form.tel1 }}
                      </div>
                 </div>
                 <div class="control-group">
                       <label class="control-label" for="form-field-1">Telefone Celular</label>
                      <div class="controls">
                     {{form.tel2 }}
                      </div>
                 </div> 
               </div> 
               <div class="span6">  
                 <div class="control-group">
                       <label class="control-label" for="form-field-1">Login</label>
                      <div class="controls">
                     {{ form.login }}
                      </div>
                </div>                  

               </div>
              </div>
            
              <div class="form-actions">
                <button  class="btn btn-primary">
                      <i class="icon-save icon-only bigger-180"></i>                     
                    Salvar
                 </button >
                 &nbsp; &nbsp; &nbsp;  
                      <a class="btn btn-warning" href="{{ request.referrer }}">
                      <i class="icon-reply icon-only bigger-180"></i>
                         Voltar
                      </a> 
                   
               </div> 
      </form>
</div>
{% endblock %}







           
